*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color-scheme: dark;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advice-container {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.advice-container > div {
    padding: 1rem;
}
.btn {
    cursor: pointer;
    width: 50%;
    font-weight: 600;
    background: none;
    border: none;
    font-size: 1rem;
    display: block;
    text-align: left;
}
.advice {
    font-size: 1.4rem;
    font-weight: 700;
}
